// 这个文件名必须用_color.scss 不能用 color.scss。
// 否则sass-loader编译的时候会编译出问题，只编译color.scss，不编译theme.scss。
// 但奇怪的theme.scss引用没问题。

// ↓ $colors中的变量会在theme.scss中生成css变量 (用 var(--key)来使用)
$colors: (
  'dark': #333333,
  'balck': #000000,
  'white': #ffffff,
  'success':#00bf30,
  'failed': #e64141
);

:export {
  @each $key, $val in $colors {
    #{unquote($key)}: $val;
  }
}

$warning-color: #f18241;
$danger-color: #df2720;