@import './color.scss';

body {
  // 遍历_color.scss中的$colors,生成css变量, 如 --success-color: #00bf30;
  @each $colorKey, $colorVal in $colors {
    --#{$colorKey}-color: #{$colorVal};
  }

  // 遍历_color.scss中的$colors,生成class, 如 .text-dark { color: #333333; }
  @each $colorKey, $color in $colors {
    .text-#{$colorKey} {
      color: $color;
    }
    .bg-#{$colorKey} {
      background-color: $color;
    }
  }
}
